body {
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
    font-family: Inter, sans-serif;
}

/* PORTAL */
#portal {
    position: fixed;
    inset: 0;
    background: white;
    background-image: url('https://ik.imagekit.io/22h7wv5o2/doodle.jpg?updatedAt=1773773281436');
    background-size: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: doodleScroll 80s linear infinite;
    clip-path: circle(150% at 50% 50%);
    transition: clip-path 2s ease;
}

@keyframes doodleScroll {
    from { background-position: 0 0; }
    to { background-position: 400px 400px; }
}

#portal.hide {
    clip-path: circle(0% at 50% 50%);
}

.portal-card {
    background: white;
    color: black;
    padding: 50px;
    border: 10px solid black;
}

/* APP */
.hidden { display:none; }

#app {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 3D CANVAS */
#scene {
    position: fixed;
    inset: 0;
    z-index: -1;
}

/* HEADER */
header {
    padding: 20px;
}

#title {
    font-size: 4rem;
}

/* LIST */
.list {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

.track {
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.05);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}

/* PLAYER */
.player {
    padding: 20px;
    backdrop-filter: blur(30px);
}

.controls {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
